* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body.hover {
    cursor: pointer;
}

.return-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
    transition: opacity ease-out 300ms;
}

.return-button.hide {
    opacity: 0;
    pointer-events: none;
}

#pause {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    padding: 1rem;
}

.play-btn {
    display: none;
}

#pause.pause .play-btn {
    display: block;
}

#pause.pause .pause-btn {
    display: none;
}